<div style="float:left"><textarea id="sql"></textarea><button id="run">run</button></div>
<div id="container"></div>
<script>
	data = {{{ data }}}
    ;(function() {
        var tableCreate = function() {
            function valconcat(vals, tagName) {
                if (vals.length === 0) return '';
                var open = '<' + tagName + '>',
                    close = '</' + tagName + '>';
                return open + vals.join(close + open) + close;
            }
            return function(columns, values) {
                var tbl = document.createElement('table');
                var html = '<thead>' + valconcat(columns, 'th') + '</thead>';
                var rows = values.map(function(v) {
                    return valconcat(v, 'td');
                });
                html += '<tbody>' + valconcat(rows, 'tr') + '</tbody>';
                tbl.innerHTML = html;
                return tbl;
            }
        }();

        var render = function(data) {
        	var table = tableCreate(data.columns, data.values)
        	var container = document.getElementById('container')
        	container.innerHTML = ''
        	container.appendChild(table)
        }

        render(data)

        var postQuery = function(query) {
            return new Promise(function(resolve, reject) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/database/query', true);
                xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8')
                xhr.onload = function() {
                    resolve(JSON.parse(this.responseText))
                }
                xhr.onerror = reject
                xhr.send(JSON.stringify({
                    query: query
                }))
            })
        }

        var $run = document.getElementById('run')
        var query = function() {
            var $sql = document.getElementById('sql')
            postQuery($sql.value).then(function(result) {
                render(result.data)
            })
        }
        $run.addEventListener('click', query)
    })()
</script>